{{- $path := .Get "path" -}}
<div>
  <div class="panel-group" id="accordion">
{{- range $i, $r := getCSV "," $path -}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ index $r 0 }}">Day {{ index $r 0 }}</a><p style="float:right; white-space: nowrap;">Distance {{ index $r 1 }}km   (<img src="/img/symbols/mountain_up.png" style="all:initial; height:1.2em;width:1em;margin: 0px; border:None; padding:0px;"></img>{{ index $r 2 }}m <img src="/img/symbols/mountain_down.png" style="all:initial; height:1.2em;width:1em;margin: 0px; border:None; padding:0px;"></img> {{ index $r 3 }}m) <a href="/gps/HRP/Day{{printf "%02d" $i}}.gpx" download><img src="/img/symbols/download.png" style="all:initial; height:1.2em;width:1em;margin: 0px; border:None; padding:0px;"></img></a></p>
        </h4>
      </div>
      <div id="collapse{{ index $r 0 }}" class="panel-collapse collapse">
        <div class="panel-body">
		<figure id="track{{$i}}" style="height:300px;padding:0px;margin:0px;border:0px;"></figure>
	</div>
    </div>
    </div>
{{- end }}
  </div> 
</div>
	<script></script>
<script> 
	var maps = [];
	var tracks = [];
	var terrains = [];
</script>
{{- range $i, $r := getCSV "," $path -}}
<script>
	var i = {{$i}}
	var map = new L.Map('track{{$i}}', {center: new L.LatLng(42.9, 0.7), zoom: 12});
	maps.push(map)
	var Stamen_Terrain = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.{ext}', {
		attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
	subdomains: 'abcd',
	minZoom: 10,
	maxZoom: 15,
	ext: 'png'
});
	terrains.push(Stamen_Terrain)

	var track = omnivore.gpx("/gps/HRP/Day"+("0" + i.toString()).slice(-2)+".gpx");
	tracks.push(track);

	jQuery(document).ready(function () {
	   jQuery("#collapse{{ index $r 0 }}").on('shown.bs.collapse', function () {
		maps[{{$i}}].addLayer(terrains[{{$i}}]);
		tracks[{{$i}}].addTo(maps[{{$i}}]);
		maps[{{$i}}].fitBounds(tracks[{{$i}}].getBounds());
		L.control.scale().addTo(maps[i]);
	   });
	}); 


</script>

{{- end }}
